*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  body{
    max-width: 100%;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7f1f74cf;
    height: 4.5rem;
  }
  .logo{
    color: #ffffff;
    font-size: 2rem;
    padding: 0.2rem 1rem .2rem 7rem;
    transition-duration: 0.5s;
  }

#intro {
  padding: 20px;
  font-family: cursive;
  font-weight: 500;
  color: #1d2026;
  background-color: #f5fafd;
}
  h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    transition-duration: 0.5s;
    background-color: #bd72a8;
    color: #ffffff;
  }
  ul{
    display: flex;
    list-style: none;
    padding-right: 1rem;
    gap: 0.9rem;
  }
  #toggle-menu,
  label{
    display: none;
  }
  a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 0.7rem;
  }
  a:hover{
    color: #8e4174;
  }
  section.f-section{
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
  }
  div.product{
    display: flex;
    flex-direction: column;
    width: 40vh;
    transition-duration: 0.5s;
  }
  img{
    width: 70%;
    align-self: center;
    transition-duration: 0.5s;
  }
  div.product:hover img{
    transform: scale(1.1);
  }
  h2{
    text-align: center;
    padding: 1rem 0;
    transition-duration: 0.5s;
  }
  div.product:hover h2{
    transform: scale(1.1);
  }
  p.price{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.6rem;
    border-bottom: 2px solid #ffffff;
    transition-duration: 0.5s;
  }
  div.product:hover p.price{
    background-color: #c349b693;
    color: #ffffff;
  }
  h3 a.buy{
    color: #000;
    text-decoration: none;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s
  }
  div.product:hover h3 a.buy{
    background-color: #963996a9;
    color: #ffffff;
  }
  section.f2-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    gap: 2rem;
  }
  section.f3-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  div.f-discount,
  div.s-discount{
    width: 50%;
  }
  div.s-discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    height: 37rem;
    transition-duration: 0.5s;
  }
  input{
    margin-top: 2.5rem;
    height: 9vh;
    width: 35vh;
    padding: 5px;
    caret-color: #373737;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 10px;
  }
  .Submit{
    color: #000;
    cursor: pointer;
    transition-duration: 0.5s;
    padding-bottom: 0.5rem;
    margin-top: 2.5rem;
    padding: 30px;
    padding: 20px;
    width: 35vh;
    border: none;
  }
  .Submit:hover{
    background-color: #852f7e;
    color: #ffffff;
  }
  h2.one-discount,
  h2.two-discount{
    font-size: 2.1rem;
  }
  div.f-discount{
    height: 37rem;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
  }
  div.s-discount{
    background-color: #6d2470;
    border: 3px dashed white ;
  }
  p.p-discount{
    font-size: 1.5rem;
    text-align: center;
  }
  img.img-discount{
    width: 300px;
    max-width: 100%;
  }
  input:focus{
    outline: none;
    border: 2px solid #682b5c;
  }
  .Submit:focus{
    outline: none;
  }
  section.f4-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
  div.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 800px) {
    div.f-discount,
    div.s-discount{
      width: 100%;
    }
  }
  @media (max-width: 540px){
    nav ul{
      text-align: center;
    }
    nav ul *{
      padding: 2rem;
    }
    ul li {
      background-color: #373737;
      color: #ffffff;
    }
    label{
      margin-left: 74%;
      font-size: 2rem;
    }
    header{
      display: block;
      padding: 1rem;
      position: fixed;
      margin-top: -64px;
      width: 100%;
      z-index: 99;
    }
    .logo{
      display: inline;
    }
    .checkbox{
      display: none;
    }
    #toggle-menu,
    label{
      display: flex;
      justify-content: end;
      margin-top: -3rem;
    }
    nav ul{
      display: none;
    }
    #toggle-menu:checked ~ nav ul {
      display: grid;
      padding: 0.5rem;
    }
    h1.s-logo{
      margin-top: 3.9rem;
    }}